<section class="benefits">
  <div class="video">
    <h2 class="video-title">WATCH THE VIDEO</h2>
    <p class="video-text">
      Watch the video below to see our mobile app in action. With a
      user-friendly interface, personalized recommendations, secure
      transactions, and real-time updates, our app is available for download on
      both Apple and Android devices and is designed to make your life easier.
    </p>
  </div>
  <ul class="video-list">
    <li class="video-item">
      <svg class="video-icon-svg" width="24" height="24">
        <use href="./images/"></use>
      </svg>
    </li>
    <li class="video-item">
      <svg class="video-icon-svg" width="24" height="24">
        <use href="./images/"></use>
      </svg>
    </li>
  </ul>
  <div class="video-img">
    <img class="video-img-phone" srcset="" src="" alt="" width="264" />
  </div>
</section>
