<header class="header-section">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo logo link">Mobileapp</a>
      <ul class="list nav-list">
        <li class="nav-list-item"><a href="#">HOME</a></li>
        <li class="nav-list-item"><a href="#">FEATURES</a></li>
        <li class="nav-list-item"><a href="#"></a>TEAM</li>
        <li class="nav-list-item"><a href="#"></a>TESTIMONIALS</li>
        <li class="nav-list-item"><a href="#"></a>CONTACT</li>
      </ul>
    </nav>
  </div>
</header>
